<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Registrarse</title>
</head>
<body>
    <form th:action="@{/registro}" th:object="${usuario}" method="post">
        <input th:field="*{nombre}" placeholder="Nombre" required>
        <input th:field="*{username}" placeholder="Username" required>
        <input th:field="*{password}" type="password" placeholder="Constraseña">
        <button type="submit">Registrarse</button>
    </form>
</body>
</html>
<!-- @{} ${} *{} -->