<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado</title>
    <style>
        .api-result {
            border: 1px solid #eee;
            padding: 15px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Módulo Registrado</h1>
    
    <!-- Mostrar datos básicos del módulo -->
    
    <h2>APIs registradas:</h2>
    <p th:text="${modulo.desarrollador}"></p>
    <p th:text="${modulo.clasesUtiliza}"></p>
    <div th:each="api : ${modulo.apis}" class="api-result">
        <h3 th:text="${api.nombreApi}"></h3>
        <p><strong>Tipo:</strong> <span th:text="${api.tipo}"></span></p>
        <p><strong>Ruta:</strong> <span th:text="${api.ruta}"></span></p>
        <p><strong>Datos que regresa:</strong> <span th:text="${api.datosRegresa}"></span></p>
        <p><strong>Parámetros:</strong> <span th:text="${api.parametros}"></span></p>
        <p><strong>Descripción:</strong> <span th:text="${api.descripcion}"></span></p>
        <p><strong>Comentarios:</strong> <span th:text="${api.comentarios}"></span></p>
    </div>
    
    <a th:href="@{/formulario-modulo-avanzado}">Regresar</a>

    <form th:action="@{/generar-pdf}" th:object="${modulo}" method="post">
        <input type="hidden" th:field="*{desarrollador}">
        <input type="hidden" th:field="*{nombreModulo}">
        <input type="hidden" th:field="*{rutaModulo}">
        <input type="hidden" th:field="*{javascript}">
        <input type="hidden" th:field="*{jsp}">
        <input type="hidden" th:field="*{pojo}">
        <input type="hidden" th:field="*{servicio}">
        <input type="hidden" th:field="*{repositorio}">
        <input type="hidden" th:field="*{clasesUtiliza}">
        <input type="hidden" th:field="*{controlador}">
        <div th:each="api, iterStat : *{apis}">
            <input type="hidden" th:field="*{apis[__${iterStat.index}__].nombreApi}">
            <input type="hidden" th:field="*{apis[__${iterStat.index}__].tipo}">
            <input type="hidden" th:field="*{apis[__${iterStat.index}__].ruta}">
            <input type="hidden" th:field="*{apis[__${iterStat.index}__].datosRegresa}">
            <input type="hidden" th:field="*{apis[__${iterStat.index}__].parametros}">
            <input type="hidden" th:field="*{apis[__${iterStat.index}__].descripcion}">
            <input type="hidden" th:field="*{apis[__${iterStat.index}__].comentarios}">
        </div>

        <button type="submit">Crear PDF</button>
    </form>
</body>
</html>